:root {
  --col-system-padding: 12px;
  --col-width-ratio: 0.2;
}

.layout-1,
.layout-2,
.layout-3,
.layout-4,
.layout-5,
.layout-6 {
  display: flex;
  flex-flow: column;
  width: 100%;
  width:calc((100% / var(--col-width-ratio)) - calc(var(--col-system-padding) * 2));
  gap: var(--col-system-padding);
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--col-system-padding) * 2);
  width: 100%;
  padding-inline: var(--col-system-padding);
}

[class*="-page"] {
  padding-inline: var(--col-system-padding);
}

.block {
  display: flex;
  width: 100%;
  gap: var(--col-system-padding);
}

/* Layout1 */
.wrapper > *,
.layout-2 > *,
.layout-1 > * {
  width: 100%;
  min-height: 100px;
}

.layout-1 .header-page {
  width: 100%;
}

.layout-2 .body-page,
.layout-1 .menu-page {
  min-height: 300px;
}

.layout-2 .body-page,
.layout-1 .body-page {
    flex: 1 1 auto;
}

/* Layout2 */
.layout-2 .wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--col-system-padding);
}


/* Layout3 */

.layout-3 .header-page,
.layout-3 .footer-page {
    min-height: 100px;
 }


.layout-3 .body-page {
    min-height: 205px;
}

@media all and (min-width: 768px) {
    :root {
        --col-width-ratio: 1.95;
    }
}


@media all and (min-width: 956px) {
    :root {
        --col-width-ratio: 1.96;
    }
}

@media all and (min-width: 1130px) {
    :root {
        --col-width-ratio: 2.95;
    }
}
