:root {
    --col-system-base: 12;
    --col-system-padding: 12px;
    --col-max-width: 442px;
}

.layout-1,
.layout-2,
.layout-3,
.layout-4,
.layout-5,
.layout-6 {
    /* GRID */
   display: grid;
   gap: var(--col-system-padding);
   grid-auto-rows: minmax(100px, auto);
   /* BOX MODEL */
   width: 100%;
   /* max-width: var(--col-max-width); */
   margin: auto;
    /* FONT */
   font-size: 1.5rem;
   font-weight: 900;
   letter-spacing: 0.35em;
}

.box-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--col-max-width), 1fr));
    gap: calc(var(--col-system-padding) * 2);
    padding-inline: var(--col-system-padding);
}

[class*='-page'] {
  padding-inline: var(--col-system-padding);
}

.layout-1 {
    grid-template-columns: 150px 1fr;
}
.layout-1 .header-page,
.layout-1 .footer-page {
    grid-column: 1 / 3;
}
.layout-1 .menu-page,
.layout-1 .body-page {
    grid-row: 2 / 4;
    min-height: 300px;
}

.layout-2 {
    grid-template-columns: 150px 1fr;
}

.layout-2 .header-page {
    grid-column: 2;
}

.layout-2 .menu-page {
    grid-row: 1 / 4;
}

.layout-2 .body-page {
    grid-row: 2 / 4;
    min-height: 300px;
}

.layout-2 .footer-page {
    grid-column: 1 / 3;
}


.layout-3 .menu-page {
    height: 100px;
}

.layout-3 .body-page {
    height: 188px;
}

@media all and (min-width: 768px) {
    .box-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(calc(var(--col-max-width) / 1.5), 1fr));
    }
}

@media all and (min-width: 956px) {
    .box-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(var(--col-max-width), 1fr));
    }
}

@media all and (min-width: 1130px) {
    .box-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(calc(var(--col-max-width) / 1.5), 1fr));
    }
}